---
import '@total-typescript/ts-reset';

import fs from 'fs/promises';
import { z } from 'zod';

import Specialist from '~/components/Specialist.astro';

const schema = z.object({
  name: z.string(),
  img: z.string(),
  job: z.string(),
  links: z
    .tuple([z.string(), z.string(), z.string(), z.string()])
    .transform(val => {
      return val.reduce(
        (
          acc: {
            facebook: string;
            instagram: string;
            twitter: string;
            linkedin: string;
          },
          link,
        ): {
          facebook: string;
          instagram: string;
          twitter: string;
          linkedin: string;
        } => {
          const [platform, username] = link.split('/');
          const checkedPlatform = z
            .union([
              z.literal('facebook'),
              z.literal('instagram'),
              z.literal('twitter'),
              z.literal('linkedin'),
            ])
            .parse(platform);
          acc[checkedPlatform] = username!;
          return acc;
        },
        { facebook: '', instagram: '', twitter: '', linkedin: '' },
      );
    }),
});

const dir = await fs.readdir('data');
const doctors = await Promise.all(
  dir.map(async file => {
    const data = await fs.readFile(`data/${file}`, 'utf-8');
    return JSON.parse(data);
  }),
);

const parsedDoctors = doctors.map(doctor => schema.parse(doctor));
---

<section class='pt-8 text-secondary'>
  <img src='/assets/bg-2.jpg' class='h-[400px] w-full object-cover' />
  <div
    class='mt-[-100px] grid grid-cols-3 grid-rows-2 gap-8 px-[calc((100%-1320px)/2)]'
    id='specialists'
  >
    <div class='bg-banner p-6'>
      <h3
        class='relative mb-4 w-fit text-lg font-medium uppercase text-primary before:absolute before:-right-[60px] before:top-1/2 before:h-[3px] before:w-[50px] before:-translate-y-1/2 before:bg-primary before:content-[""] after:absolute after:-right-[80px] after:top-1/2 after:h-[3px] after:w-[15px] after:-translate-y-1/2 after:bg-third after:content-[""]'
      >
        Naši špecialisti
      </h3><p class='mb-6 text-3xl font-semibold'>
        Spoznaje naších certifikovaných zubných profesionálov
      </p>
      <a
        href='#order'
        class='bg-primary px-6 py-2 text-white transition-colors hover:bg-third hover:text-secondary'
        >Objednajte sa</a
      >
    </div>
    {
      parsedDoctors.map(doctor => (
        // eslint-disable-next-line @typescript-eslint/no-unsafe-return
        <Specialist
          name={doctor.name}
          img={doctor.img}
          role={doctor.job}
          links={doctor.links}
        />
      ))
    }
  </div>
</section>
